.calc-modal, .calc-modal * { box-sizing: border-box; }
.calc-modal {
  background: linear-gradient(180deg, #84BAFF 0%, #0B0E1C 100%);
  box-shadow: 0px 0px 5px 3px rgba(179,179,179,1);
  padding: 10px; padding-top: 50px;
  position: fixed; top: 50%; left: calc(50% - 240px);
  user-select: none;
  width: 480px; max-height: 50%;
  z-index: 9999;
}
.calc-modal-ctn {
  margin: 0 auto;
  width: 240px;
}
.calc-modal-display {
  color: white;
  font-size: 60px;
  overflow: hidden;
  padding: 5px;
  text-align: right;
  width: 100%;
}
.calc-modal-ctrl {
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .calc-modal {
    left: calc(50% - 180px);
    width: 360px; 
  }
}
@media screen and (max-width: 425px) {
  .calc-modal { 
    width: 100%; max-height: 50%; 
    overflow: auto;
    top: 50%; left: 0;
  }
}