.calc-btn {
  display: inline-block;
  padding: 5px;
  width: 25%;
}
.calc-btn-size-double { width:50%; }

.calc-btn > button {
  border: none; border-radius: 25px;
  font-size: 26px;
  text-align: center; line-height: 50px;
  outline: none;
  width: 100%; min-width: 50px; height: 50px;
}
.calc-btn-color-gray > button {
  color: black; background-color: #AFAFAF;
}
.calc-btn-color-gray > button:active {
  background-color: #BBB;
}
.calc-btn-color-grayDark > button {
  color: white; background-color: #333;
}
.calc-btn-color-grayDark > button:active {
  background-color: #555;
}
.calc-btn-color-blueSky > button {
  color: white; background-color: #3091FD;
}
.calc-btn-color-blueSky > button:active {
  background-color: rgb(91, 167, 253);
}
.calc-modal, .calc-modal * { box-sizing: border-box; }
.calc-modal {
  background: linear-gradient(180deg, #84BAFF 0%, #0B0E1C 100%);
  box-shadow: 0px 0px 5px 3px rgba(179,179,179,1);
  padding: 10px; padding-top: 50px;
  position: relative; top: calc(50vh - 240px); left: calc(50vw - 240px);
  user-select: none;
  width: 480px;
  z-index: 9999;
}
.calc-modal-mask {
  position: fixed; left: 0; top: 0;
  width: 100vw; height: 100vh;
}
.calc-modal-ctn {
  margin: 0 auto;
  width: 240px;
}
.calc-modal-display {
  color: white;
  font-size: 60px;
  overflow: hidden;
  padding: 5px;
  text-align: right;
  width: 100%;
}
.calc-modal-ctrl {
  margin: 0 auto;
  width: 100%;
}
.calc-modal-btn {
  display: inline-block;
  padding: 5px;
  width: 25%;
}
.calc-modal-btn.btn-size-double { width:50%; }

.calc-modal-btn > button {
  border: none; border-radius: 25px;
  font-size: 26px;
  text-align: center; line-height: 50px;
  outline: none;
  padding: 0;
  width: 100%; min-width: 50px; height: 50px;
}
.calc-modal-btn.btn-color-gray > button {
  color: black; background-color: #AFAFAF;
}
.calc-modal-btn.btn-color-gray > button:active {
  background-color: #BBB;
}
.calc-modal-btn.btn-color-grayDark > button {
  color: white; background-color: #333;
}
.calc-modal-btn.btn-color-grayDark > button:active {
  background-color: #555;
}
.calc-modal-btn.btn-color-blueSky > button {
  color: white; background-color: #3091FD;
}
.calc-modal-btn.btn-color-blueSky > button:active {
  background-color: rgb(91, 167, 253);
}

@media screen and (max-width: 768px) {
  .calc-modal {
    left: calc(50vw - 180px);
    width: 360px; 
  }
}
@media screen and (max-width: 425px) {
  .calc-modal { 
    width: 100%; max-height: 50vh; 
    overflow: auto;
    top: 50vh; left: 0;
  }
}
